footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    -webkit-box-shadow: 0px -5px 30px -14px hsla(0, 0%, 0%, 0.75);
            box-shadow: 0px -5px 30px -14px hsla(0, 0%, 0%, 0.75);
    background-image: -webkit-gradient(
        linear, left top, right top, from(hsl(211, 36%, 88%)), 
        color-stop(hsl(219, 33%, 92%)), 
        color-stop(hsl(227, 33%, 95%)), 
        color-stop(hsl(240, 23%, 97%)),
        to(hsl(0, 0%, 100%))
    );
    background-image: -o-linear-gradient(
        left, hsl(211, 36%, 88%), 
        hsl(219, 33%, 92%), 
        hsl(227, 33%, 95%), 
        hsl(240, 23%, 97%),
        hsl(0, 0%, 100%)
    );
    background-image: linear-gradient(
        to right, hsl(211, 36%, 88%), 
        hsl(219, 33%, 92%), 
        hsl(227, 33%, 95%), 
        hsl(240, 23%, 97%),
        hsl(0, 0%, 100%)
    );

    a {
        font-size: 1.25rem;
        color: hsl(0, 0%, 50%);
        text-decoration: none;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;

        &:hover {
            color: hsl(0, 0%, 0%);
        }
    }

    .active {
        color: hsl(0, 0%, 0%);
    }
}