main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;

    h2, 
    a {
        color: hsla(0, 0%, 0%, 75%);
    }

    a:hover {
        color: hsl(0, 0%, 0%);
    }

    img {
        width: 30%;
    }
}